<%= render "common/menu" %>
<div class="container">
  <h1>Players</h1>
  <div class="row">
    <%= paginate @players %> <% @players.each do |player| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= player.name %></h5>
            <%= link_to "Details", player, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
