<%= render "common/menu" %>
<div class="container">
  <h1><%= @player.name %> partcipate the folloing leagues:</h1>
  <ul>
    <% @player.leagues.each do |league| %>
      <li>
        <%= link_to league.name, league %>
      </li>
    <% end %>
  </ul>
</div>
