<h1>About</h1>

<p>This app grabs the data from the Football API via RapidAPI.com.
It fetches the league data of European football and more</p>

<p>Here is the ERD diagram</p>
<%= image_tag ("/assets/erd1.png"), class: "img-responsive" %>
